  <header class="jumbotron jumbotron-fluid bg-info text-white text-center">
    <div class="container">
      <h1 class="display-4">¡Bienvenido a Con Dulzura!</h1>
      <p class="lead">Tu destino para los postres más deliciosos.</p>
    </div>
  </header>